@charset "UTF-8";

/* .dropdown-menu {
	width:200px
}
.dropdown-menu.columns-2 {
	min-width: 450px;
}
.dropdown-menu.columns-3 {
	min-width: 800px;
}
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
	padding: 5px;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #333;
	background-color: #d9d9d9;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;

	}
}

.a {
	color:#333;
} */

/* .dropdown-content a:hover {background-color: #3a3f44; color:#ff6600;} */

.dropdown-content  {color:#ff8533;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3a3f44; color:#ff8533;}
